Repository Olienter/MastroHUB-v2, changes with the owners that CODEOWNERS names for each.
All owners: @mastro-content-team, @mastro-dev-team, @mastro-ai-team

CODEOWNERS:

# Content ownership
content/** @mastro-content-team

# App core ownership  
app/** @mastro-dev-team
components/** @mastro-dev-team

# AI workflow ownership
.ai/** @mastro-ai-team

# Configuration files
*.yml @mastro-dev-team
*.yaml @mastro-dev-team
*.json @mastro-dev-team
*.md @mastro-dev-team

# Package management
package.json @mastro-dev-team
pnpm-lock.yaml @mastro-dev-team

REDTEAM: Add watchdog test evidence with seeded errors analysis
  .ai/checks/HF-OPS-ANALYSIS-0004E-TEST.txt
Owners: @mastro-ai-team

REDTEAM: Implement controlled errors for watchdog testing (console, a11y, SEO, performance, hydration, 404)
  .ai/chronicle/journal.md
  app/layout.tsx
  app/page.tsx
Owners: @mastro-dev-team

REDTEAM: Implement controlled errors + CI workflow fixes for watchdog testing
  .ai/checks/HF-OPS-ANALYSIS-0004E-TEST.txt
  .ai/chronicle/journal.md
  .github/workflows/ci.yml
  app/page.tsx
Owners: @mastro-ai-team, @mastro-dev-team

Update evidence files with latest red-team test status
  .ai/checks/HF-OPS-ANALYSIS-0004E-TEST.txt
  .ai/chronicle/journal.md
Owners: @mastro-ai-team, @mastro-dev-team

Add PR evidence file and journal update for red-team test
  .ai/checks/HF-OPS-ANALYSIS-0004E-PR.txt
  .ai/chronicle/journal.md
Owners: @mastro-ai-team, @mastro-dev-team

CI-FIX: Fix workflow triggers, add reliable pnpm setup, remove job-level conditions
  .ai/checks/HF-OPS-ANALYSIS-0004E-CI-FIX.txt
  .github/workflows/ci.yml
Owners: @mastro-ai-team, @mastro-dev-team

Update evidence and journal for baseline main creation
  .ai/checks/HF-OPS-ANALYSIS-0004E-CI-FIX.txt
  .ai/chronicle/journal.md
Owners: @mastro-ai-team, @mastro-dev-team

CI-FIX: Make lint non-blocking for red-team test (continue-on-error: true)
  .github/workflows/ci.yml
Owners: @mastro-dev-team

FIX: preserve red-team signals but fix pnpm script conflict to unblock build
  package.json
Owners: @mastro-dev-team

CI TRIGGER: package.json pnpm fix applied - should trigger Adaptive Enforcement CI
  public/huge-test.js
Owners: none

FIX: workflow pnpm syntax - remove cache conflict, add explicit install step
  .github/workflows/ci.yml
Owners: @mastro-dev-team

CI TRIGGER: workflow pnpm syntax fixed - should trigger Adaptive Enforcement CI
  public/huge-test.js
Owners: none

FIX: add @playwright/test to devDependencies to resolve TypeScript errors
  package.json
Owners: @mastro-dev-team

CI TRIGGER: @playwright/test added to devDependencies - should trigger Adaptive Enforcement CI
  public/huge-test.js
Owners: none

FIX: remove --frozen-lockfile to resolve pnpm-lock.yaml sync issue
  .github/workflows/ci.yml
Owners: @mastro-dev-team

CI TRIGGER: --frozen-lockfile removed to fix pnpm sync issue - should trigger Adaptive Enforcement CI
  public/huge-test.js
Owners: none

FIX: explicit --no-frozen-lockfile to override pnpm action default
  .github/workflows/ci.yml
Owners: @mastro-dev-team

CI TRIGGER: explicit --no-frozen-lockfile to override pnpm action default - should trigger Adaptive Enforcement CI
  public/huge-test.js
Owners: none

WATCHDOG: start Next via webServer; target /login; log findings; upload playwright-report
  .github/workflows/ci.yml
  tests/playwright.config.ts
  tests/watchdog.spec.ts
Owners: @mastro-dev-team

CI TRIGGER: Playwright webServer config + watchdog test updated - should trigger Adaptive Enforcement CI
  public/huge-test.js
Owners: none

FIX: Playwright testDir path for CI environment
  tests/playwright.config.ts
Owners: none

CI TRIGGER: Playwright testDir path fixed for CI environment - should trigger Adaptive Enforcement CI
  public/huge-test.js
Owners: none

REVERT: Remove seeded REDTEAM errors + harden CI path filters
  .github/workflows/ci.yml
  app/layout.tsx
  app/page.tsx
  public/huge-test.js
  tests/playwright.config.ts
Owners: @mastro-dev-team

AI-GATES-FIX: update evidence & journal (PR #2, HEAD 58769d5) + create missing .ai/check.md
  .ai/checks/HF-OPS-ANALYSIS-0004E-PR.txt
  .ai/chronicle/journal.md
Owners: @mastro-ai-team, @mastro-dev-team

AI-GATES-FIX: force add .ai/check.md for compliance
  .ai/check.md
Owners: @mastro-dev-team

AI-GATES-SUCCESS: final evidence update - workflow fixed, compliance achieved
  .ai/checks/HF-OPS-ANALYSIS-0004E-PR.txt
  .ai/chronicle/journal.md
Owners: @mastro-ai-team, @mastro-dev-team

MCP: add ai-evidence server (MVP) + bridge skeleton + .ai evidence demo
  .ai/checks/HF-OPS-ANALYSIS-0007E-MCP.json
  .ai/chronicle/journal.md
  .github/workflows/ci.yml
  tools/ai-ci-bridge/README.md
  tools/ai-ci-bridge/package.json
  tools/ai-ci-bridge/src/bridge.ts
  tools/ai-ci-bridge/tsconfig.json
  tools/mcp-ai-evidence/README.md
  tools/mcp-ai-evidence/package.json
  tools/mcp-ai-evidence/src/fs-io.ts
  tools/mcp-ai-evidence/src/server.ts
  tools/mcp-ai-evidence/src/types.ts
  tools/mcp-ai-evidence/src/validators.ts
  tools/mcp-ai-evidence/tsconfig.json
Owners: @mastro-dev-team

MCP: ai-evidence server (MVP) + evidence + CI steps
  .ai/checks/HF-OPS-ANALYSIS-0007E-MCP-STATUS.txt
  .ai/checks/HF-OPS-ANALYSIS-0007E-MCP.json
  .ai/chronicle/journal.md
  .github/workflows/ci.yml
  tools/mcp-ai-evidence/package.json
  tools/mcp-ai-evidence/pnpm-lock.yaml
  tools/mcp-ai-evidence/src/server.ts
  tools/mcp-ai-evidence/tsconfig.json
Owners: @mastro-ai-team, @mastro-dev-team

MCP: build-fix via setRequestHandler + static schemas + evidence
  .ai/checks/HF-OPS-ANALYSIS-0007E-MCP.json
  .ai/chronicle/journal.md
  tools/mcp-ai-evidence/package.json
  tools/mcp-ai-evidence/pnpm-lock.yaml
  tools/mcp-ai-evidence/src/server.ts
Owners: @mastro-dev-team

MCP: evidence update - build=true but runtime error with SDK 1.17.4
  .ai/checks/HF-OPS-ANALYSIS-0007E-MCP.json
  .ai/chronicle/journal.md
Owners: @mastro-dev-team

MCP: runtime fix for SDK 1.17.x (stdio server, tools:list & tools:call)
  .ai/checks/HF-OPS-ANALYSIS-0007E-MCP-RUNTIME.json
  .ai/chronicle/journal.md
  tools/mcp-ai-evidence/package.json
  tools/mcp-ai-evidence/pnpm-lock.yaml
  tools/mcp-ai-evidence/src/server.ts
  tools/mcp-ai-evidence/tsconfig.json
Owners: @mastro-dev-team

MCP: add e2e test (currently failing - stdio transport error)
  .ai/checks/HF-OPS-ANALYSIS-0007E-MCP-RUNTIME.json
  .ai/chronicle/journal.md
  tools/mcp-ai-evidence/package.json
  tools/mcp-ai-evidence/test/test-client.mjs
Owners: @mastro-dev-team

RULES: compliance audit + immediate fixes planned
  .ai/checks/HF-OPS-ANALYSIS-0007E-MCP-RULES-FIX.json
  .ai/chronicle/journal.md
Owners: @mastro-dev-team

RULES: policy gates + PR template + CODEOWNERS
  .github/CODEOWNERS
  .github/pull_request_template.md
  .github/workflows/policy-gates.yml
Owners: @mastro-dev-team

MCP: pin SDK + server stdio fix + E2E smoke
  .github/workflows/e2e-mcp.yml
  tools/mcp-ai-evidence/package.json
Owners: @mastro-dev-team

MCP E2E: stdio client + CI job + evidence (PR3)
  .github/workflows/e2e-mcp.yml
  tools/mcp-ai-evidence/package.json
  tools/mcp-ai-evidence/test/e2e-client.mjs
Owners: @mastro-dev-team

FIX: update pnpm-lock.yaml for @playwright/test
  pnpm-lock.yaml
Owners: @mastro-dev-team

HF-OPS-STATUS-0001: Infrastructure assessment and fixes
  .ai/checks/HF-OPS-STATUS-0001.json
  .ai/chronicle/journal.md
  e --short HEAD
Owners: @mastro-dev-team

CLEANUP: Remove corrupted tatus file
  tatus
Owners: none

HF-COMM-PROTOCOLS-0001-P1: Implement CORE verification protocols and unblock UI phase
  .ai/checks/HF-COMM-ANALYSIS-0001.json
  .ai/checks/HF-COMM-PROTOCOLS-0001-P1.txt
  .ai/checks/HF-COMM-PROTOCOLS-0001.json
  .ai/checks/HF-SERVER-START-0001.json
  .ai/chronicle/journal.md
  .ai/handoff/index.json
  package.json
  scripts/smoke.mjs
  tools/diag/verify-core.mjs
Owners: @mastro-dev-team, @mastro-ai-team
